@import "./../../static/styles/colors";
.content {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 10px;
  overflow: auto;
  background-color: #efefef;
}
.menu {
  overflow-y: hidden;
}
.menu:hover {
  overflow-y: auto;
}
.back-top {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @primary-color
}
.back-top-icon {
  color: #fff;
  font-size: 20px;
}
// 覆盖谷歌浏览器默认输入框样式
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}
