.login {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('./../../static/images/background.jpg');
  background-size: cover;
  padding: 50px 100px;
}

.project-name {
  width: calc(100vw - 750px);
  font-size: 60px;
  letter-spacing: 15px;
  color: #fff;
  cursor: pointer;
}

.login-container {
  width: 500px;
  height: 85vh;
  padding: 40px;
  background-color: rgb(0 0 0 / 30%);
  border-radius: 5px;
}

.login-title {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  font-size: 32px;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.login-title::before,
.login-title::after {
  display: inline-block;
  width: 20%;
  margin: 5px 5%;
  content: '';
  border-bottom: 2px solid #fff;
}

.login-input .ant-input {
  color: #fff !important;
  background-color: rgb(0 0 0 / 0%) !important;
}

.login-input {
  margin-bottom: 0 !important;
  font-size: 20px;
  color: #fff !important;
  background-color: rgb(0 0 0 / 0%) !important;
}

/* 找回密码样式 */
.forget-password {
  display: block;
  margin-top: 10px;
  text-align: right;
}

.reset-title {
  width: 100%;
  margin: 40px 0;
  font-size: 20px;
  letter-spacing: 5px;
}
